# Ignore Excel files
data_processor\supervision_data.xlsx

# Ignore schema.yaml
data_processor\schema.yaml

# Ignore CSV files
data_processor\check_data.csv

**/__pycache__/

data_processor/__pycache__
data_processor/core/__pycache__/ 
data_processor/processors/__pycache__/
data_processor/utils/__pycache__/ 
data_processor/operations/__pycache__/
data_processor/operations/formatting/__pycache__/
data_processor/operations/merging/__pycache__/
data_processor/test/__pycache__/

