# Ignore Excel files
data_processor/*.xlsx

# Ignore schema.yaml
data_processor/*.yaml

data_processor/__pycache__
data_processor/core/__pycache__/ 
data_processor/processors/__pycache__/
data_processor/utils/__pycache__/ 
data_processor/operations/__pycache__/
data_processor/operations/formatting/__pycache__/
data_processor/operations/merging/__pycache__/
data_processor/test/__pycache__/

data_processor/*.csv
data_processor/tests/__pycache__/test_helper.cpython-311-pytest-7.4.4.pyc
data_processor/tests/__pycache__/test_data_validation_processor.cpython-311-pytest-7.4.4.pyc
data_processor/tests/__pycache__/test_data_cleaning_processor.cpython-311-pytest-7.4.4.pyc
data_processor/tests/__pycache__/__init__.cpython-311.pyc
data_processor/union_decision.xlsm
data_processor/rh_union_decision.xlsm
