# Ignore Excel files
data_processor\*.xlsx

# Ignore schema.yaml
data_processor\*.yaml

# Ignore CSV files
data_processor\*.csv



data_processor/__pycache__
data_processor/core/__pycache__/ 
data_processor/processors/__pycache__/
data_processor/utils/__pycache__/ 
data_processor/operations/__pycache__/
data_processor/operations/formatting/__pycache__/
data_processor/operations/merging/__pycache__/
data_processor/test/__pycache__/

